@model DEMO_CSDL.Models.TaiKhoan

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container-fluid col-lg-5 col-md-7 col-sm-10 col-12 row align-content-center m-5 p-4 border rounded shadow">
        <div class="text-center mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg>
            <p class="text-center fs-4 mt-2">Register</p>
        </div>

        <form asp-action="Register" method="post">
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="Tentk">Username</span>
                <input type="text" class="form-control" placeholder="Enter your username" aria-label="Username" name="Tentk" value="@Model.Tentk" required>
            </div>

            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="Mk">Password</span>
                <input type="password" class="form-control" placeholder="Enter your password" aria-label="Password" name="Mk" value="@Model.Mk" required>
            </div>

            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="Email">Email</span>
                <input type="email" class="form-control" placeholder="Enter your email" aria-label="Email" name="Email" value="@Model.Email" required>
            </div>

            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="Diachi">Address</span>
                <input type="text" class="form-control" placeholder="Enter your address" aria-label="Address" name="Diachi" value="@Model.Diachi">
            </div>

            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="Sodienthoai">Phone</span>
                <input type="text" class="form-control" placeholder="Enter your phone number" aria-label="Phone" name="Sodienthoai" value="@Model.Sodienthoai">
            </div>

            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="Sdtnguoithan">Emergency Contact</span>
                <input type="text" class="form-control" placeholder="Enter an emergency contact number" aria-label="Emergency Contact" name="Sdtnguoithan" value="@Model.Sdtnguoithan">
            </div>

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.ErrorMessage
                </div>
            }

            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>
                    Register
                </button>
            </div>

            <div class="text-center mt-3">
                <a href="@Url.Action("Login")">Already have an account? Sign in here</a>
            </div>
        </form>
    </div>
</div>
